ballpark~=1.4.0
argparse~=1.4.0
pyyaml
typing~=3.6.4
omegaconf~=2.0.6
numpy~=1.19.4
torchvision~=0.11.1
pillow~=8.4.0
wandb~=0.12.2
hydra~=2.5
pytorch-lightning
tqdm~=4.48.2
torchmetrics~=0.6.0
pyrender
scipy~=1.7.1
setuptools~=49.6.0
matplotlib
opencv-python~=3.4.9.33
scikit-image~=0.19.1
ninja
imageio
imageio-ffmpeg
hydra-core
torch-ema==0.2
clean-fid